@font-face {
    font-family: gooddog;
    src: url(/fonts/gooddog.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-sansBold;
    src: url(/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-sansExtraBold;
    src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: open-sansSemiBold;
    src: url(/fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: open-sansLight;
    src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

@import "./settings";
@import "./analytics";
@import "./forms";
@import "./style";
@import "./react_dates_overrides";
@import "./responsive";
@import "./leftNav";
@import "./middleware";
@import "./modal";

/*Nav top bar ============*/
.navbar-wrap {
    .navbar-uniclix {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        background: #fff;
        height: 70px;
        // box-shadow: 1px 1px 1px 1px #e8edf5;
        overflow: hidden;

        .brand {
            display: block;
            float: left;
            margin-left: 90px;
            line-height: 36px;
            font-size: 35px;
            font-weight: 400;
            color: #E97D4C !important;
            padding: 7px 10px;
            text-align: center;
            text-decoration: none;

            img {
                width: 70px;
                object-fit: contain;
            }
        }

        .top-menu {
            margin: 0;
            margin-left: 230px;
            margin-bottom: 15px;

            li {
                a {
                    float: left;
                    margin: 2.5rem 0 0 5.5rem;
                    font-size: 1.6rem;
                    font-weight: normal;
                    padding-bottom: 32px;
                    color: #363636;
                    text-decoration: none;
                    text-transform: capitalize;

                    &.first-nav-item {
                        margin-left: 0;
                    }

                    &:hover,
                    &.active {
                        text-decoration: none;
                        color: #2D86DA;
                    }

                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }

        .right-top-nav {
            /* Current Profile ======= */
            .current-profile {
                float: right;
                display: flex;
                align-items: center;
                padding: 0 3.5rem;
                cursor: pointer;

                .current-profile-info {
                    p {
                        margin: 0;
                    }

                    .current-profile-name {
                        font-weight: bold;
                        font-size: 1.6rem;
                        color: #363636;
                    }

                    .current-profile-email {
                        font-weight: light;
                        font-size: 1.3rem;
                        color: #909090;
                    }
                }

                .current-profile-avatar {
                    margin-left: 15px;

                    img {
                        width: 35px;
                        border-radius: 100px;
                    }
                }
            }
            .current-profile-links{
                width: 0;
            }
        }
    }
}

/* TOp ALert =============*/
.top-alert {
    position: fixed;
    top: 70px;
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
    background: #E0E2E9;
    width: 100%;
    z-index: 1000;

    span {
        font-weight: bold;
    }
}