@font-face {
    font-family: gooddog;
    src: url(/fonts/gooddog.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-sansBold;
    src: url(/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-sansExtraBold;
    src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: open-sansSemiBold;
    src: url(/fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: open-sansLight;
    src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

@import "./settings";
@import "./analytics";
@import "./forms";
@import "./style";
@import "./react_dates_overrides";
@import "./responsive";
@import "./leftNav";
@import "./middleware";
@import "./modal";
@import "./layout";

/*Nav top bar ============*/
.navbar-wrap {
    .navbar-uniclix {
        z-index: 999;
        top: 0;
        width: 100%;
        background: #fff;
        height: 70px;
        // box-shadow: 1px 1px 1px 1px #e8edf5;
        overflow: hidden;

        .brand {
            display: block;
            float: left;
            margin-left: 90px;
            line-height: 36px;
            font-size: 35px;
            font-weight: 400;
            color: #E97D4C !important;
            padding: 7px 10px;
            text-align: center;
            text-decoration: none;

            img {
                width: 70px;
                object-fit: contain;
            }
        }

        .top-menu {
            margin: 0;
            margin-left: 230px;
            margin-bottom: 0;

            li {
                a {
                    float: left;
                    margin: 2.5rem 0 0 5.5rem;
                    font-size: 1.6rem;
                    font-weight: normal;
                    padding-bottom: 32px;
                    color: #363636;
                    text-decoration: none;
                    text-transform: capitalize;

                    &.first-nav-item {
                        margin-left: 0;
                    }

                    &:hover,
                    &.active {
                        text-decoration: none;
                        color: #2D86DA;
                    }

                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }

        .right-top-nav {
            /* Current Profile ======= */
            float: right;
            position: relative;
            height: 100%;
            transition: linear 0.3s;

            .current-profile {
                float: left;
                right: 0px;
                top: 0;
                transition: linear 0.2s;
                height: 100%;
                background: $white;
                position: absolute;
                z-index: 2;
                display: flex;
                align-items: center;
                padding: 0 3.5rem;
                justify-content: flex-end;
                min-width: 100%;
                cursor: pointer;

                .current-profile-info {
                    p {
                        margin: 0;
                    }

                    .current-profile-name {
                        font-weight: bold;
                        font-size: 1.6rem;
                        color: #363636;
                    }

                    .current-profile-email {
                        font-weight: light;
                        font-size: 1.3rem;
                        color: #909090;
                    }
                }

                .current-profile-avatar {
                    margin-left: 15px;

                    img {
                        width: 35px;
                        border-radius: 100px;
                    }
                }
            }

            .current-profile-links {
                opacity: 0;
                position: relative;
                z-index: 1;
                float: right;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100%;
                margin: 0;
                padding: 0 3rem 0 6rem;

                li {
                    float: left;
                    padding: 10px 25px;

                    a {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        /* identical to box height, or 150% */

                        letter-spacing: 0.122042px;

                        color: $white;

                        i {
                            color: $white;
                            padding-right: 8px;
                        }
                    }
                }
            }

            &:hover {
                background: $primary_blue;

                .current-profile {
                    right: 100%;
                    margin-right: -40px;
                    border-radius: 0 50px 50px 0;
                    padding-right: 20px;

                }

                .current-profile-links {
                    opacity: 1;
                }
            }
        }
    }
}

/* TOp ALert =============*/
.top-alert {
    padding: 15px;
    text-align: center;
    font-size: 1.4rem;
    background: #E0E2E9;
    width: 100%;
    z-index: 1000;

    span {
        font-weight: bold;
    }
}